<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>OAuth2 & OpenID Connect Debugger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      textarea {
        width: auto; 
      }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
