<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/forms.js"></script>

<h1>OAuth2 or OpenID Connect Debugger</h1>

<p>This is a simple Client to use with any <a href="https://medium.com/@robert.broeckelmann/saml2-vs-jwt-understanding-oauth2-4abde9e7ec8b">OAuth2</a> or <a href="https://medium.com/@robert.broeckelmann/understanding-openid-connect-series-37c93d25e92b">OpenID Connect</a> compliant identity provider..</p>
<h2>Choose Authorization Grant</h2>
<form id="authorization_grant" name="authorization_grant" action="">
  <div class="form-group">
    <label>Authorization Grant: </label>
<select id="authorization_grant_type" name="authorization_endpoint" class="stored">
  <option value="authorization_grant">Authorization Grant</option>
  <option value="implicit_grant">Implicit Grant</option>
  <option value="resource_owner">Resource Owner Password Credential Grant</option>
  <option value="client_credential">Client Credential</option>
</select>
  </div>
</form>

<h2>Enter Endpoints</h2>
<form id="endpoints" name="endpoints" action="">
  <div class="form-group">
    <label>Authorization Endpoint: </label><input type="text" name="authorization_endpoint" id="authorization_endpoint" class="stored"/>
  </div>
  <div class="form-group">
    <label>Token Endpoint: </label><input type="text" name="token_endpoint" id="token_endpoint" class="stored"/>
  </div>
</form>
<div class="step2" id="step2">
<h2 id="h2_title_1">Request Authorization Code</h2>
<form name="auth_step" id="auth_step" method="get" onsubmit="return OnSubmitForm();">
  <div class="form-group">
    <label>State: </label><input type="text" name="state" value="" id="state" />
    <div class="nonce" id="nonce">
      <label>Nonce: </label><input type="text" name="nonce" value="" id="nonce_field" />
    </div>
  </div>
  <div class="form-group">
    <input type="hidden" name="response_type" value="code" id="response_type" />
  </div>
  <div class="form-group">
    <label>Client ID: </label>
    <input type="text" name="client_id" value="" class="stored" id="client_id" />
  </div>
  <div class="form-group">  
    <label>Redirect URL: </label>
    <input type="text" name="redirect_uri" value=""  class="stored" id="redirect_uri" />
  </div>
  <div class="form-group">    
    <label>Scope: </label>
    <input type="text" name="scope"  class="stored" id="scope"/>
  </div>  
  <input type="submit" class="btn" value="Authorize" />
</form>
</div>

<div class="step3" id="step3">
<h2 id="h2_title_2">Exchange Authorization Code for Access Token</h2>

<form name="token_step" id="token_step">
  <div class="form-group">
    <label>Authorization Code: </label>
    <input type="text" name="code" id="code" value="<%= defined?(@code) ? @code : '' %>" class="input" />
  </div>
  <div class="form-group">
    <label>Client ID: </label>
    <input type="text" name="client_id"  class="input" id="token_client_id" />
  </div>
  <div class="form-group">    
    <label>Client Secret: </label>
    <input type="text" name="client_secret" class="input" id="token_client_secret" />
    <input type="hidden" name="grant_type" id="token_grant_type" class="input" value="authorization_code" />
  </div>
  <div class="form-group">
    <label>Redirect URL: </label>
    <input type="text" name="redirect_uri" value="<%= defined?(REDIRECT_URI) ? REDIRECT_URI : '' %>" class="input" id="token_redirect_uri" />
  </div>
  <div class="form-group">
    <label>Scope </label>
    <input type="text" name="scope" value="" class="input" id="token_scope" />
  </div>

  <div class="password-form-group" id="password-form-group1">
    <label>Username: </label>
    <input type="text" name="username" value="" class="input" id="token_username" />
  </div>
  <div class="password-form-group" id="password-form-group2">
    <label>Password: </label>
    <input type="password" name="password" value="" class="input" id="token_password" />
  </div>

  <input type="submit" class="btn1" value="Get Token">
</form>
</div>
<div class="token_endpoint_result" id="token_endpoint_result">
</div>
<div class="authorization_endpoint_result" id="authorization_endpoint_result">
</div>
