<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/forms.js"></script>

<h1>OAuth2 or OpenID Connect Debugger</h1>

<p>This is a simple Client to use with any <a href="https://medium.com/@robert.broeckelmann/saml2-vs-jwt-understanding-oauth2-4abde9e7ec8b">OAuth2</a> or <a href="https://medium.com/@robert.broeckelmann/understanding-openid-connect-series-37c93d25e92b">OpenID Connect</a> compliant identity provider..</p>

<fieldset>
<legend>Choose Authorization Grant</legend>
<form id="authorization_grant" name="authorization_grant" action="">
  <div class="form-group">
    <label>Authorization Grant: </label>
<select id="authorization_grant_type" name="authorization_endpoint" class="stored">
  <option value="authorization_grant">OAuth2 Authorization Code Grant</option>
  <option value="implicit_grant">OAuth2 Implicit Grant</option>
  <option value="resource_owner">OAuth2 Resource Owner Password Credential Grant</option>
  <option value="client_credential">OAuth2 Client Credential</option>
  <option value="oauth2_refresh_grant">OAuth2 Refresh Grant</option>
  <option value="oidc_authorization_code_flow">OIDC Authorization Code Flow(code)</option>
  <option value="oidc_implicit_flow">OIDC Implicit Flow(id_token token)</option>
  <option value="oidc_implicit_flow_id_token">OIDC Implicit Flow(id_token)</option>
  <option value="oidc_hybrid_code_id_token">OIDC Hybrid(code id_token)</option>
  <option value="oidc_hybrid_code_token">OIDC Hybrid(code token)</option>
  <option value="oidc_hybrid_code_id_token_token">OIDC Hybrid(code id_token token)</option>
</select>
  </div>
</form>
</fieldset>

<fieldset>
<legend>Configuration Parameters</legend>
<form id="endpoints" name="endpoints" action="">
  <div class="form-group">
    <label>Authorization Endpoint: </label><input type="text" name="authorization_endpoint" id="authorization_endpoint" class="stored"/>
  </div>
  <div class="form-group">
    <label>Token Endpoint: </label><input type="text" name="token_endpoint" id="token_endpoint" class="stored"/>
  </div>
</form>
<form id="configuration" name="configuration" action="">
  <div class="form-group">
    <label>Display OIDC Related Artifacts?</lable> Yes
    <input type="radio" onclick="javascript:displayOIDCArtifacts();" name="yesno" id="yesCheckOIDCArtifacts"/>No
    <input type="radio" onclick="javascript:displayOIDCArtifacts();" name="yesno" id="noCheckOIDCArtifacts"/>
  </div>
  <div class="password-form-group" id="password-form-group3">
    SSL Certificate Validation: Yes
    <input type="radio" name="sslValidation" id="SSLValidate-yes" value="true" checked="true"/>No
    <input type="radio" name="sslValidation" id="SSLValidate-no" value="false"/>
    <br>
  </div>
</form>
</fieldset>

<fieldset>
<legend>Request Authorization Code</legend>
<div class="step2" id="step2">
<form name="auth_step" id="auth_step" method="get" onsubmit="return OnSubmitForm();">
  <div class="form-group">
    <label>State: </label><input type="text" name="state" value="" id="state" onchange="recalculateAuthorizationRequestDescription();" />
    <div class="nonce" id="nonce">
      <label>Nonce: </label><input type="text" name="nonce" value="" id="nonce_field" />
    </div>
  </div>
  <div class="form-group">
    <input type="hidden" name="response_type" value="code" id="response_type" />
  </div>
  <div class="form-group">
    <label>Client ID: </label>
    <input type="text" name="client_id" value="" class="stored" id="client_id" />
  </div>
  <div class="form-group">  
    <label>Redirect URL: </label>
    <input type="text" name="redirect_uri" value=""  class="stored" id="redirect_uri" />
  </div>
  <div class="form-group">    
    <label>Scope: </label>
    <input type="text" name="scope"  class="stored" id="scope"/>
  </div>
  <div class="prompt-for-resource">
    Add Resource field? Yes
    <input type="radio" onclick="javascript:displayResourceCheck();" name="yesno" id="yesCheck"/>No
    <input type="radio" onclick="javascript:displayResourceCheck();" name="yesno" id="noCheck"/>
    <br>
  </div>
  <div class="form-group" id="resourceIfYes" style="visibility:hidden" style="display:none;margin-top:3%;">
    <label>Resource: </label>
    <input type="text" name="resource"  class="stored" id="resource"/>
  </div>
  <input type="submit" class="btn2" value="Authorize" />
</form>
</div>
<div class="display_authz_request_class" id="display_authz_request_class">
  <form action="" name="display_authz_request_form" id="display_authz_request_form">
    <label name="display_authz_request_form_label1" value="" id="display_authz_request_form_label1">Request</label>
    <textarea rows="10" cols="100" id="display_authz_request_form_textarea1"></textarea>
  </form>
</div>
</fieldset>

<div class="display_authz_error_class" id="display_authz_error_class">
</div>

<fieldset>
<legend>Exchange Authorization Code for Access Token</legend>
<div class="step3" id="step3">
<form name="token_step" id="token_step" method="post" onsubmit="return OnSubmitTokenEndpointForm();" >
  <div class="form-group">
    <label>Authorization Code: </label>
    <input type="text" name="code" id="code" value="<%= defined?(@code) ? @code : '' %>" class="input" />
  </div>
  <div class="form-group">
    <label>Client ID: </label>
    <input type="text" name="client_id"  class="input" id="token_client_id" />
  </div>
  <div class="form-group">    
    <label>Client Secret: </label>
    <input type="text" name="client_secret" class="input" id="token_client_secret" />
    <input type="hidden" name="grant_type" id="token_grant_type" class="input" value="authorization_code" />
  </div>
  <div class="form-group">
    <label>Redirect URL: </label>
    <input type="text" name="redirect_uri" value="" class="input" id="token_redirect_uri" />
  </div>
  <div class="form-group">
    <label>Scope </label>
    <input type="text" name="scope" value="" class="input" id="token_scope" />
  </div>

  <div class="password-form-group" id="password-form-group1">
    <label>Username: </label>
    <input type="text" name="username" value="" class="input" id="token_username" />
  </div>
  <div class="password-form-group" id="password-form-group2">
    <label>Password: </label>
    <input type="password" name="password" value="" class="input" id="token_password" />
  </div>

  <div class="token-prompt-for-resource">
    Add Resource field? Yes
    <input type="radio" onclick="javascript:displayTokenResourceCheck();" name="token-yesno" id="yesCheckToken"/>No
    <input type="radio" onclick="javascript:displayTokenResourceCheck();" name="token-yesno" id="noCheckToken"/>
    <br>
  </div>
  <div class="form-group" id="resourceTokenIfYes" style="visibility:hidden" style="display:none;margin-top:3%;">
    <label>Resource: </label>
    <input type="text" name="token_resource"  class="stored" id="token_resource"/>
  </div>

  <input type="submit" class="btn1" value="Get Token">
</form>
</div>
<div class="display_token_request" id="display_token_request">
<form action="" name="display_token_request_form" id="display_token_request_form">
<label name="display_token_request_form_label1" value="" id="display_token_request_form_label1">Request</label>
<textarea rows="10" cols="100" id="display_token_request_form_textarea1"></textarea>
</form>
</div>
</fieldset>

<div class="display_token_error_class" id="display_token_error_class">
</div>

<div class="authorization_endpoint_result" id="authorization_endpoint_result">
</div>
<div class="authorization_endpoint_id_token_result" id="authorization_endpoint_id_token_result">
</div>

<div class="token_endpoint_result" id="token_endpoint_result">
</div>

<fieldset>
<legend>Obtain New Access Token Using Refresh Token</legend>
<form name="refresh_step" id="refresh_step" method="post" onsubmit="return OnSubmitTokenEndpointForm();" >
  <div class="form-group">
    <label>Refresh Token: </label>
    <input type="text" name="refresh_refresh_token" id="refresh_refresh_token" value="<%= defined?(@code) ? @code : '' %>" class="input" />
  </div>
  <div class="form-group">
    <label>Client ID: </label>
    <input type="text" name="refresh_client_id"  class="input" id="refresh_client_id" />
  </div>
  <div class="form-group">
    <label>Client Secret: </label>
    <input type="text" name="refresh_client_secret" class="input" id="refresh_token_client_secret" />
    <input type="hidden" name="refresh_grant_type" id="refresh_grant_type" class="input" value="authorization_code" />
  </div>
  <div class="form-group">
    <label>Scope </label>
    <input type="text" name="refresh_scope" value="" class="input" id="refresh_scope" />
  </div>
  <input type="submit" class="btn1" value="Get Token">
</form>
<div class="display_refresh_request" id="display_refresh_request">
  <form action="" name="display_refresh_request_form" id="display_refresh_request_form">
    <label name="display_refresh_request_form_label1" value="" id="display_refresh_request_form_label1">Request</label>
    <textarea rows="10" cols="100" id="display_refresh_request_form_textarea1"></textarea>
  </form>
</div>
</fieldset>

<div class="display_refresh_error_class" id="display_refresh_error_class">
</div>

<div class="refresh_endpoint_result" id="refresh_endpoint_result">
</div>
